
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}

.sub-menu
{
    display: none;
}

.menu-bar ul li:hover .sub-menu ul
{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu ul li
{
    width: 150px;
    padding: 10px;
    
}