{% extends "base.html" %}
{% block title %}Checkout Page {% endblock %}
{% block content %}
        
        
        {% if session['cart_item']  %}
        <p><a id="btnEmpty" href="{{ url_for('.empty_cart') }}" class="btn btn-danger">Empty Cart</a></p>

       <table>
           <tr>
               <th>Product</th>
               <th>Unit Price</th>
               <th>status</th>
               <th>Quantity</th>
               <th>Total Price</th>
           </tr>
           {% for key, val in session['cart_item'].items() %}
            <tr>
                <tr>
                    
                <td>{{session['cart_item'][key]['title']}}</td>
                <td>{{session['cart_item'][key]['price']}}</td>    
                <td>{{session['cart_item'][key]['status']}}</td>
                <td>{{session['cart_item'][key]['running_qty']}}</td>
                <td>{{session['cart_item'][key]['price'] * session['cart_item'][key]['running_qty']}}</td>
                <td class="col-sm-1 col-md-1">
                    <a href="{{ url_for('.delete_product_from_checkout', title=session['cart_item'][key]['title']) }}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </a></td>
                    
            </tr>    
           {% endfor%}
           <tr>
            <td>Sub Total: {{session['total_price']}}</td>
            <td>
                <a href="{{ url_for('.payment', title=session['cart_item']) }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-success"></span> Checkout
                </a>
            </td>
           </tr>
       </table>

       {% else: %}
        <div class="no-records">Your Cart is Empty!</div>
       {% endif %}


       <br><a href="/products">Continue shopping</a>

{% endblock %}