<html>
  <head>
    <title>Shopping cart</title>
  </head>
  <body>
    
    <form action="/" method="POST">
    <!-- Implement form asking for username and password -->
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"><br><br>
    <label for="password">Password:</label>
	<input type="password" name="password"><br><br>
	<button type="submit" name="submit">Submit</button>
    </form>
    <!-- <a href="/register">Register an Account</a> -->
  </body>
</html>