{% extends "base.html" %}
{% block title %}Log in Page {% endblock %}
    <title>Shopping cart</title>
  {% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

    <form action="/login" method="POST">
    <!-- Implement form asking for username and password -->
  <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" required><br>
    <input type="submit" value="Login">
    </form><br>
    <label type="text" for="">If you have not signed up</label><br>
    <a href="/register">Sign Up</a>

 {% endblock %}