<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/products"><h3>BearD oBSSESIOn cLuB</h3></a>
      
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        {% if session['username'] %} 

            
        <ul>
          <li>
              
             <div "mx-auto" style="width: 400px">
              <a href="{{url_for('.logout')}}" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out"></span> Log out
              </a>
             </div>
          </li>

          <li>
            <div>
              <a href="/history" class="btn btn-success">
                <span class="glyphicon glyphicon-success"></span> Order History
            </a>
            </div>
          </li>
        </ul>

        {% endif %}

      </div>

      
        


      </div>
    
  </nav>




  