<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">bEARD oBSSESIOn cLuB!</a>
      
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>

            {% if session['username'] %} 
              <a href="/history" class="btn btn-success">
                  <span class="glyphicon glyphicon-success"></span> Order History
              </a>
            {% endif %}


          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>


          <li class="nav-item dropdown">
            
            
            <!-- <a href="/history">Order History</a>

            
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul> -->

          </li>

          </li>


          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>

        {% if session['username'] %}  
          
          <!-- <button class="nav-item">
            <a class="nav-link" href="{{url_for('.logout')}}">
              <span class="glyphicon glyphicon-log-out"></span>
            </a>
            
          </button> -->

          <!-- <button type="button" class="btn btn-default btn-sm">
            <a class="nav-link" href="{{url_for('.logout')}}">
            <span class="glyphicon glyphicon-log-out"></span> Log out
          </button> -->
          <a href="{{url_for('.logout')}}" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-log-out"></span> Log out
          </a>

          {% else:%}

          <button>
            <a type="button" href="/"> Login</a>
          </button>
      
        {% endif %}
      </div>
    </div>
  </nav>