{% extends "base.html" %}
{% block title %}Product Page {% endblock %}
{% block content %}
  <head>
    <meta charset="utf-8">
  
    <link href="/static/products.css" rel="stylesheet" type="text/css" />
  </head>

    


  <form action="/add" method="POST">
    <input list="products" name="title" placeholder="Search..e.g shampoo">
    <datalist id="products">
      

        {% for key, values in dict.items() %}
        {% for value in values %} 
        
        <option value="{{value[1]}}" >
          <label for="title"></label>
        <input type="hidden" name="{{value[1]}}" value="{{value[1]}}" />  
        {% endfor %}
        {% endfor %}
    </datalist>
    
    <input type="number" class="product-quantity" name="quantity" value="" required/>
    <input type="submit" value="Add to Cart" class="default-btn"/>
  </form>


<a href="/checkout">Go to Cart</a>

{% endblock %}