{% extends "base.html" %}
{% block title %}Product Page {% endblock %}
{% block content %}
  <head>
    <meta charset="utf-8">
  
    <link href="/static/products.css" rel="stylesheet" type="text/css" />
  </head>

    


  <form action="/add" method="POST">
    <input list="products" name="title" placeholder="Search..e.g Beard Oil">
    <datalist id="products" required>
      

        {% for key, values in dict.items() %}
        {% for value in values %} 
        
        <option value="{{value[1]}}" >
          <label for="title"></label>
        <input type="hidden" name="{{value[1]}}" value="{{value[1]}}" />  
        {% endfor %}
        {% endfor %}
    </datalist>
    
    <input type="number" class="product-quantity" name="quantity" value="1" required/>
    <input type="submit" value="Add to Cart" class="default-btn"/>
  </form>




{% if session['cart_item']  %}

<table>
  <tr>
      <th>Selected Product</th>
      <th>Category</th>
      <th>In Stock</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      
  </tr>
  {% for key, val in session['cart_item'].items() %}

  <tr>
    <tr>
        
    <td>{{session['cart_item'][key]['title']}}</td>
    <td>{{session['cart_item'][key]['categoryname']}}</td>
    <td>{{session['cart_item'][key]['quantity']}}</td>
    <td>{{session['cart_item'][key]['running_qty']}}</td>
    <td>{{session['cart_item'][key]['price']}}</td>
    <td class="col-sm-1 col-md-1">
        <a href="{{ url_for('.delete_product_from_product', title=session['cart_item'][key]['title']) }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span> Remove
        </a></td>
</tr>

    {% endfor%}
</table>    
<a href="/checkout">Go to Cart</a>
{% else: %}
<div class="no-records">Your Cart is Empty!</div>
{% endif %}


{% endblock %}