<html>
  <head>
    <title>Lab 5 activity</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="lname"><br>
      <label for="email">Email Address:</label>
      <input type="text" id="email" name="email"><br>
      <label for="user">UserName:</label>
      <input type="text" id="user" name="user"><br>
      <label for="pass">Password:</label>
      <input type="text" id="pass" name="pass"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>